<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui left fixed vertical menu">
            <div class="item">
              <img class="ui small image" src="{{ url_for('static', filename='img/logo.png') }}">
            </div>
            <a href="/song" class="item">Download a song</a>
            <a href="/album" class="item">Download an album</a>
            <a href="/history" class="item">History</a>
        </div>
        <div style="margin-top: 10px;" class="ui container">
            <div class="ui segment">
                <h1 class="ui header">Download history</h1>
                <table class="ui very basic large celled table">
                    <thead>
                      <tr><th>Song</th>
                      <th>Download date</th>
                    </tr></thead>
                    <tbody>
                        {% for song in history %}
                      <tr>
                        <td>
                          <h4 class="ui image header">
                            <img loading="lazy" src="{{song.cover_path}}" class="ui image">
                                <div class="content">
                                {{song.title}}
                                <div class="sub header">{{song.artist_name}}
                                </div>
                            </div>
                        </h4></td>
                        <td>
                            {% if song.downloaded_on %}
                                {{ song.downloaded_on.strftime('%Y-%m-%d %H:%M') }}
                            {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </body>
</html>