<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    </head>
    <body>
        {% include 'nav.html' %}
        <div style="margin-top: 10px;" class="ui container">
            <div class="ui segment">
                <h1 class="ui header">Download a song</h1>
                <div class="ui massive fluid search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Ex : Thriller by MJ">
                      <i class="search icon"></i>
                    </div>
                    <div class="results transition"></div>
                </div>
                <div class="ui blue indeterminate large progress">
                    <div class="bar">
                        <div id="progress_text" class="progress"></div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <h1 class="ui header">Your download</h1>
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <div class="ui raised card">
                            <div class="image">
                              <img id="album_image" src="">
                            </div>
                            <div class="content">
                              <div id="song_title" class="header"></div>
                            </div>
                            <div class="extra content">
                              <span id="release_date" class="right floated">
                              </span>
                              <span id="explicit">
                                <i class="exclamation icon"></i>
                                Explicit lyrics
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <iframe id="youtube-iframe" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="ui vertical divider"></div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();

        socket.on('download_progress', function(data) {
            console.log('Download Progress:', data.progress);
            $("#progress_text").text(data.progress);
        });

        socket.on('title-data',function(data){
            $(".card").show();
            var release_date = data.release_date;
            var cover = data.cover;
            var title = data.title;
            var artist = data.artist;
            var explicit = data.explicit_lyrics;
            $(".card #release_date").text(release_date);
            $(".card #album_image").attr("src",cover);
            $(".card #song_title").text(`${title} - ${artist}`);
            if (explicit){
                $(".card #explicit").show()
            }else{
                $(".card #explicit").hide()
            }
        });

        socket.on("youtube-url",function(data){
            var url = data.url;
            var embed_url = `https://www.youtube.com/embed/${url}`;
            $("iframe").attr("src",embed_url);
            $("iframe").show();
        });

        document.addEventListener("DOMContentLoaded",()=>{
            $(".progress").hide();
            $("iframe").hide();
            $(".card").hide();
        })

        function downloadSong(title) {
            $(".results").removeClass("visible");
            $(".search").hide();
            $(".progress").show();
            $("#progress_text").text("Téléchargement démarré");
            $.ajax({
                url: "/download_song",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({ title: title }),
                dataType: "json",
                success: function(response) {
                    $(".progress").hide();
                    $.toast({
                        displayTime: 10000,
                        showImage : response.cover_path,
                        classImage : 'tiny',
                        title: 'Téléchargement terminé',
                        message: response.title_downloaded
                    });
                    $(".search").show();
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

        $("input").keyup(function(){
            var value = $(this).val().toString();
            if (value == ""){
                $(".results").removeClass("visible");
            }
            else{
                $(".results").addClass("visible");
                $.ajax({
                    url: "/suggest_song",
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify({ title: value }),
                    dataType: "json",
                    success: function(response) {
                        if (response.suggestion){
                            console.log(response.suggestion);
                            $(".results").html(`<div class="result result-link"> <img class="ui small image" src="${response.cover_path}"> ${response.suggestion}</div>`);
                        }
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
            }
        });

        $(".results").on("click", ".result-link", function(){
            var song = $(this).text().toString();
            console.log(song);
            downloadSong(song);
        });

        $(".prompt").keydown(function(event){
            if (event.key === "Enter"){
                var song = $(this).val().toString();
                console.log(song);
                downloadSong(song);
            }
        });
    </script>
</html>
